<div class="share-page">
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"><i class="svg-icon twitter"></i></a>
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><i class="svg-icon facebook"></i></a>
    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+"><i class="svg-icon googleplus"></i></a>
    <a href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}&description={{ page.title }}" rel="nofollow" target="_blank" title="Share on Pinterest"><i class="svg-icon pinterest"></i></a>
    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary={{ page.title }}&source={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on LinkedIn"><i class="svg-icon linkedin"></i></a>
</div>
